.bio {
    background: black;
    color: white;
    height: 100vh;
    box-sizing: border-box;
}

.side-name {
    transform: rotate(90deg);
    position: absolute;
    right: 30px;
    top: 160px;
    letter-spacing: 4px;
    font-size: 12px;
    height: 20px;
    width: 20px;
}

.bio .container {
    margin: auto;
    width: 1100px;
    position: relative;
}

.bio .about {
    position: absolute;
    width: 350px;
    text-align: left;
    /* padding: 280px 0; */
    top: 30%;
    transition: 1.6s ease-in-out;
    opacity: 0;
}

.bio .education {
    position: absolute;
    width: 400px;
    text-align: left;
    /* padding: 280px 0; */
    top: 30%;
    transition: 1s ease-in-out;
    opacity: 0;
    
}

.bio .education span {
    font-style: italic;
}

.about p {
    margin: 0;
}

.bio .cv {
    position: absolute;
    top: 32%;
    left: 50%;
    height: 120px;
    width: 120px;
    border: 8px solid white;
    text-align: center;
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../asset/profile.png');
    background-size: cover;
}

.bio .cv p {
    display: block;
    height: 50px;
    margin: 0;
    opacity: 0;
    transition: 1s ease-in-out;
}

.bio .cv p:first-child{
    margin-top: 10px;
}

.bio .cv p:last-child {
    margin-bottom: 10px;
}

.bio .cv:hover {
    /* cursor: pointer; */
    transform: scale(1.2);
    border-radius: 2em;
    /* transform: translate(0, -50%); */
    background-image: none;
}

.bio .cv:hover p {
    opacity: 1;
}

.bio .cv:hover + .about {
    opacity: 1;
}

.bio .cv:hover ~ div:last-child {
    transform: translate(137%, 160%);

    opacity: 1;
}


.bio .info {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.bio a, .bio a:visited {
    color: white;
}