body {
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    line-height: 26px;
    color: #303030;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

.body * {
    font-family: inherit;
}

.container {
    margin: auto;
    width: 1100px;
    position: relative;
    height: 100vh;
}

.vertical-line {
    right: 38px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 260px;
    width: 2px;
    height: 860px;
    z-index: 10;

}

.bg {
    background-image: url(../asset/moon3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
    position: sticky;
    top: 0;
    width: 100%;
}

header {
    background: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
}


.title {
    position: absolute;
    font-size: 2vh;
    top: 20vh;
    color: white;
}



.name {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50vh;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18vh;
    line-height: 22vh;
    display: block;
    color: white;
    text-overflow: initial;
}

.navigation {
    right: 30px;
    position: fixed;
    top: 300px;
    width: 16px;
    z-index: 100;
}

.navigation a {
    display: block;
    margin-bottom: 10px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 100%;
    
    
}

.navigation span {
    border: 2px solid transparent;
    border-radius: 100%;
    background: rgba(255,255,255,0.4);
    display: block;
    width: 14px;
    height: 14px;
    vertical-align: top;
    box-sizing: border-box;
    transition: all 0.3s;
    
}

.navigation .black span {
    background: rgba(0,0,0,0.2);

}


.navigation-spot:hover span{
    cursor: pointer;
    /* display: none; */
    transition: all 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.black:hover span {
    border: 2px solid rgba(0, 0, 0, 0.4);

}

.copyright {
    position: absolute;
    font-size: 1.6vh;
    bottom: 0;
    color: white;
    right: 0;
}